:root {
	--primary-blue: #3b82f6;
	--primary-blue-dark: #2563eb;
	--gray-800: #1f2937;
	--neutral-400: #9ca3af;
	--neutral-900: #111827;

	/* Dark mode variables */
	--bg-dark: #111827;
	--text-dark: #ffffff;
	--border-dark: #374151;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {

}

.hero-grid {
    display: flex;
    padding-top: 6rem;
}

.content-col {
    flex: 1;
    padding-left: 8rem;
}

.content-col h1 {
    font-size: 70px;
    margin: 0;
}

.content-col p {
    font-size: 1.17em;
    font-weight: 500;
    color: #303030;
    font-family: system-ui;
}

body.dark .content-col p {
    color: white;
}

.cta-group {}

.sr-only {}

.input-wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
}

input[type='text'] {
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    color: #9a9a9a;
}

.demo-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 14px 16px 14px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: transform 0.2s;
}

.demo-button:hover {
    transform: scale(1.1); 
}

.brands-section {

}

.trusted-by {
    
}

.brand-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Example: 3 columns */
    grid-gap: 10px;
    margin-top: 1rem;
}

.brand-logo {
    width: 100px;
    height: auto;
}

.image-col {
    flex: 0.5;
}

.hero-image {
    height: 70%;
    border-radius: 16px;
    position: relative;
    left: 7rem;
}

body.dark {
    background-color: var(--bg-dark);
    color: #ffffff;
}

.dark-mode-toggle {
    position: fixed;
    right: 10.3rem;
    top: 2rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 14px 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

.dark-mode-toggle:hover {
    background-color: #111827;
}

body.dark .dark-mode-toggle {
    position: fixed;
    right: 10.3rem;
    top: 2rem;
    background-color: #e5ddc8;
    color: #000000;
    border: none;
    padding: 8px 14px 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

body.dark .dark-mode-toggle:hover {
    background-color: #ffffff;
}

input[type='text'].dark {
    
}

input[type='text']::placeholder {}