:root {
	--primary-blue: #3b82f6;
	--primary-blue-dark: #2563eb;
	--gray-800: #1f2937;
	--neutral-400: #9ca3af;
	--neutral-900: #111827;

	/* Dark mode variables */
	--bg-dark: #111827;
	--text-dark: #ffffff;
	--border-dark: #374151;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {

}

.hero-grid {
    display: flex;
    padding-top: 6rem;
}

.content-col {
    flex: 1;
    padding-left: 8rem;
}

.content-col h1 {
    font-size: 70px;
}

.content-col p {
    font-size: 19px;
}

.cta-group {}

.sr-only {}

.input-wrapper {}

input[type='text'] {}

.demo-button {}

.demo-button:hover {}

.brands-section {}

.trusted-by {}

.brand-logos {}

.brand-logo {}

.image-col {
    flex: 1;
}

.hero-image {
    height: 70%;
    border-radius: 16px;
}

.dark-mode-toggle {
    position: fixed;
    right: 3rem;
    top: 2rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 14px 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.dark-mode-toggle:hover {}

body.dark {}

.dark-mode-toggle {}

.dark-mode-toggle:hover {}

input[type='text'].dark {}

input[type='text']::placeholder {}